<%= form_with(model: [:admin, post], local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control', type: 'hidden' %>
    <trix-editor class='trix-content' input='post_content' height='500'></trix-editor>
  </div>


 <div class="field">
    <%= form.label :fake_url %>
    <%= form.text_field :fake_url, class: 'form-control' %>
  </div>


  <div class="actions">
    <%= form.submit 'Submit', class: 'form-control btn-primary' %>
  </div>
<% end %>