<!DOCTYPE html>
<html>
  <head>
    <title>Tonna</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header>
      <%= render 'header' %>
    </header>
    <div class='container'>
      <main>
        <div class='row'>
          <div class='col-sm-2'></div>
            <div class='col-sm-8'>
              <%= yield %>
            </div>
          <div class='col-sm-2'></div>
        </div>
      </main>
    </div>
    <footer>
      <p>pulltheflower@163.com / @张可期</p>
    </footer>
  </body>
</html>
